# /etc/systemd/system/multi-user.target.wants/
[Unit]
Description=Prometheus metric collector
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/modules/metrics/
ExecStart=/home/ubuntu/.local/bin/gunicorn -b 0.0.0.0:8180 -w 1 metric_collecto$
#ExecStart=/bin/bash -c 'metric_collector.py'
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target