[Unit]
Description=Resource monitoring service
After=network.target

[Service]
User=faas_share_caps
WorkingDirectory=/home/faas_share_caps/modules/metrics/
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:8380 -w 1 resource_util:app
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target